<div>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
        <div nz-row nzGutter="16">
            <div nz-col nzSm="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Tên thực đơn</nz-form-label>
                    <nz-form-control nzErrorTip="Nhập đầy đủ thông tin!">
                        <input nz-input formControlName="name" placeholder="Tên thực đơn" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Giá thực đơn</nz-form-label>
                    <nz-form-control nzErrorTip="Nhập đầy đủ thông tin!">
                        <input nz-input type="number" formControlName="price" placeholder="Giá thực đơn" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzGutter="16">
            <div nz-col nzSm="24">
                <nz-form-item>
                    <nz-form-label nzRequired>Chọn danh mục</nz-form-label>
                    <nz-form-control nzErrorTip="Nhập đầy đủ thông tin!">
                        <nz-select formControlName="categoryId" nzPlaceHolder="Lựa chọn">
                            <nz-option *ngFor="let item of categories" [nzValue]="item.id"
                                [nzLabel]="item.name"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzGutter="16">
            <div nz-col nzSm="24">
                <nz-form-item>
                    <nz-form-label>Mô tả</nz-form-label>
                    <nz-form-control>
                        <textarea rows="4" nz-input formControlName="description" placeholder="Mô tả"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="clearfix">
            <nz-upload nzListType="picture" [(nzFileList)]="files" [nzBeforeUpload]="beforeUpload">
                <button nz-button>
                    <span nz-icon nzType="upload"></span>
                    Chọn ảnh
                </button>
            </nz-upload>
        </div>
    </form>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Hủy</button>
    <button nz-button nzType="primary" (click)="createMenuItem()">Thêm mới</button>
</div>