<div class="wrapper">

    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-admin-sidebar></app-admin-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Quản lý khách hàng</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a [routerLink]="['/admin']">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Quản lý khách hàng</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách khách hàng</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <button nz-button nzType="primary" (click)="showModalCreateCustomer()">Thêm mới</button>
                            <br />
                            <br />
                            <nz-table nzShowSizeChanger nzBordered="true" #filterTable [nzData]="listOfDisplayData"
                        [nzFrontPagination]="true" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
                        [nzPageIndex]="pageIndex">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên khách hàng</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Địa chỉ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of filterTable.data; let i= index" style="cursor: pointer;">
                                        <td (click)="onCreateOrder(data.id)">{{i}}</td>
                                        <td (click)="onCreateOrder(data.id)">{{data.fullName}}</td>
                                        <td (click)="onCreateOrder(data.id)">{{data.phoneNumber}}</td>
                                        <td (click)="onCreateOrder(data.id)">{{data.email}}</td>
                                        <td (click)="onCreateOrder(data.id)">{{data.address}}</td>
                                        <td [nzRight]="false">
                                            <a><span nz-icon nzType="edit" nzTheme="outline"
                                                (click)="showModalUpdateCustomer(data.id)"></span></a>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <a><span nz-icon nzType="delete" nzTheme="outline"
                                                (click)="onDeleteCustomer(data.id)"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->